In [6]:
word = input()
if len(word) % 2 == 0:
    print('Результат:',word[int(len(word)/2)-1]+word[int(len(word)/2)])
else:
    print('Результат:',word[int(len(word)/2)])

Leonard
Результат: n

In [24]:
a = int(input())
sum = 0
while a != 0:
    sum += a
    a = int(input())
if a == 0:
    print(sum)

1
2
3
1
0
7

In [24]:
#немного... прошу прощения... "извращенное" решение, но по-другому пока не придумал
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
a = sorted(boys)
b = sorted(girls)
x = 0
if len(a) == len(b):
    while x < len(a) or x < len(b):
        print(a[x] + ' и ' + b[x])
        x = x + 1
else:
    print('Внимание, кто-то может остаться без пары!')

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [55]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for country in countries_temperature:
    print(country[0] + ' - ' + str(round((sum(country[1]))/len(country[1]),1)) + ' C ')

Thailand - 74.9 C
Germany - 56.8 C
Russia - 38.7 C
Poland - 53.6 C

In [123]:
#просьба помочь разобраться с задачей...уже пошли вторые сутки, как перебираю варианты...не могу спать)))
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

for user in stream:
    print(user[11:16])

user1
user1
user1
user1
user2
user3
user3
user4
user4
user4
user4
user4